*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
.card{
  background-color: blueviolet;
  color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
}
.nav {
  background-color: #8fffe7;
  color: #333;
  padding: 1em;
  text-align: center;
}